/* Michelle style for all pages */
* {
	box-sizing: border-box;
	padding: 0;
	margin-top: 0px;
}

body {
	font-family: 'Josefin Sans', sans-serif;
}
.container3 {
	position: relative;
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 48pt;
	font-family: Helvetica;
	position: absolute;
	width: 560px;
  }
  
  .centered3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

  }

.nav {
	margin-top: 0px;
	padding: 0px;
	background-color: #3b3b3b;
	text-align: center;
	overflow: hidden;
	font-family: sans-serif;
	}

  ul {
	list-style-type: none;
	margin: 0px;
	padding: 10px;
	overflow: hidden;
  }


  li {
	float: left;
  }

  li a{
	display: inline;
	color: white;
	text-align: center;
	padding:20px 20px;
	text-decoration: none;
	overflow:hidden;
  }
	
  li a:hover {
	background-color: #d6d304;
  }

html {
	box-sizing: border-box;
  }
  
  *, *:before, *:after {
	box-sizing: inherit;
  }

  .about-section h1 {
	color: rgb(0, 191, 216);
}
  .about-section {
	padding: 50px;
	text-align: center;
	background-color: #444444;
	color: white;
  }

  .column {
	float: right;
	width: 33.3%;
	margin-bottom: 16px;
	padding: 0 8px;
  }

  .contain {	
	background-color: #e6e6e6;
	padding: 0 16px;
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2;
	border-radius: 1em;
	padding: 1em;
	margin-right: -50%;
	transform: translate(-61%, 0%);
	width: 100%;
  }
  img {
	border-radius: 8px;
	position: relative;
	left: 0%;
  }

  .title {
	color: rgb(0, 191, 216);
	font: large;
  }

/*Michelles Button for links on about us page */
  .button {
	border: none;
	text-decoration: none;
	padding: 7px;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 194, 228);
	text-align: center;
	cursor: pointer;
	height: 179px;
	font-size: large;
	font-weight: bold;
	margin-left: 33%;
  }

  .button:hover {
	background-color: rgb(65, 65, 65);
  }
  
  .clickme {
	text-align: center;
	color:rgb(255, 255, 255) ;
	background-color: rgb(0, 194, 228) ;
	text-decoration: none;
	cursor: pointer;
	font-size: large;
	font-weight: bold;
	float: left;
	margin-left: 8px;
	padding: 79px 8px;
	width: 33%;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-7%, -426%);
  }
  
  .clickme:hover {
	background-color: rgb(255, 141, 35);
  }

  @media screen and (max-width: 650px) {
	.column {
	  width: 100%;
	  display: block;
	}
  }
/*****************************************************************************/
.setup-section {
	padding: 50px;
	text-align: center;
	background-color: rgb(202, 216, 0);
	color: rgb(27, 27, 27);
  }
.gallery {
	padding: 50px;
	text-align: center;
	background-color: rgb(187, 190, 190);
	color: rgb(255, 255, 255);
  }
.burning{
	padding: 50px;
	text-align: center;
	background-color: rgb(218, 92, 9);
	color: rgb(255, 255, 255);
  }

  
/*Michelle */
h1 {
	color: rgb(39, 39, 39);
	text-align: center;
	font-weight:900;
}

h2 {color: rgb(42, 42, 42);
text-align: center;
padding: 1%;
}

p {
	position: relative;
	text-align: left;
	line-height: 21.4px;
	color: rgb(29, 29, 29);
	font-size: 11pt;
	font-family: Helvetica
}

/* Michelle Footer for about us page*/
.footer2 {
	color: rgb(0, 194, 228);
	background-color: rgb(46, 46, 46);
	width: 100%;
	height: 2%; 
	text-align: center;
	padding: 1%;
	margin-top: 37%;
}
@media screen and (max-width: 650px) {
	.footer2 {
	width: 100%;
	display: block;
	}
}
/*************************************************************************/

/* main wrapper for images on index page */
.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
   }
  
/* Images within the wrapper for the index page */
.images {
	padding: 60px;
	overflow: hidden;
	position: relative;
	justify-content: center;
	align-items: center;
	display: flex;
	}


/*************************************************************************/

.columnSetup {
	float: left;
	Width: 15%;
	background-color:rgb(248, 248, 248);
	padding-left: 50px;
	padding-top: 100px;
}

.columnSetup2 {
	float: left;
	Width: 85%;
	background-color:rgb(248, 248, 248);
	padding: 20px;
	text-align: left;
}

.rowSetup {
	float: left;
	padding: 10px;
	width: 100%;
	text-align: center;
	Height: 50px;
	color: rgb(65, 65, 65);
	background-color: rgb(235, 235, 235);
}

.rowSetup2  {
	padding: 10px;
	background-color:rgb(248, 248, 248);
	text-align: center;
	overflow: hidden;
}


/**************************************************************************/

.main:after {
	content: "";
	display: table;
	clear: both;
  }

.info {
	display: block;
	padding: 10px;
	background-color: ghostwhite;
}

/* Michelle */
.footer  {
	color: rgb(255, 255, 255);
	background-color: rgb(102, 102, 102);
	text-align: center;
	width: 100%;
	padding: 1%;
}




.container5 {

	border-radius: 1px;
	background-color: #e6e6e6;

	border-radius: 1em;
	padding: 1em;

	transform: translate(0%, 1%);
	width: 560px;

}

.form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

/* Add styles to 'label' selector */
label {
	text-align: left;
	font-size: 15px;
}

/* Add styles to 'input' and 'textarea' selectors */
input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(255, 0, 119);
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


/* Add styles to the submit button */
input[type=submit] {
	background: #ff5f02;
	margin: 0 auto;
	outline: 0;
	color: white;
	border: 0;
	padding: 12px 24px;
	border-radius: 4px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
}

/* Style 'hover' property */
input[type=submit]:hover {
	background: #f3218a;
}

/* Align items to center of the 'div' with the class 'center' */
.center {
	text-align: left;
}