/* Michelle style for all pages */
* {
	box-sizing: border-box;
	padding: 0;
	margin-top: 0px;
}

body {
	font-family: 'Josefin Sans', sans-serif;
}
.container3 {
    background-color: white;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Montserrat', arial, helvetica, sans-serif;
  }
  
  .centered3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

  }

.nav {
	margin-top: 0px;
	padding: 0px;
	background-color: #3b3b3b;
	text-align: center;
	overflow: hidden;
	font-family: sans-serif;
	}

  ul {
	list-style-type: none;
	margin: 0px;
	padding: 10px;
	overflow: hidden;
  }


  li {
	float: left;
  }

  li a{
	display: inline;
	color: white;
	text-align: center;
	padding:20px 20px;
	text-decoration: none;
	overflow:hidden;
  }
	
  li a:hover {
	background-color: #d6d304;
  }

html {
	box-sizing: border-box;
  }
  
  *, *:before, *:after {
	box-sizing: inherit;
  }

  .about-section h1 {
	color: rgb(0, 191, 216);
}
  .about-section {
	padding: 50px;
	text-align: center;
	background-color: #444444;
	color: white;
  }

  .column {
	float: right;
	width: 33.3%;
	margin-bottom: 16px;
	padding: 0 8px;
  }

  .contain {	
	float: right;
    width: 165%;
    padding: 39px;
    background-color: #ffffff;
    text-align: center;
    Height: 136%;
    border-radius: 25px;
    border: 3px rgb(202, 228, 89) solid;
    margin: 25px;
}
  img {
	border-radius: 8px;
	position: relative;
	left: 0%;
  }

  .title h2{
	color: rgb(0, 191, 216);
	font: large;
  }

/*Michelles Button for links on about us page */
  .button {
	border: none;
	text-decoration: none;
	padding: 7px;
	color: rgb(255, 255, 255);
	background-color: rgb(170, 0, 99);
	text-align: center;
	cursor: pointer;
	height: 179px;
	font-size: large;
	font-weight: bold;
  }

  .button:hover {
	background-color: rgb(65, 65, 65);
  }
  
  .clickme {
	text-align: center;
	color:rgb(255, 255, 255) ;
	background-color: rgb(0, 194, 228) ;
	text-decoration: none;
	cursor: pointer;
	font-size: large;
	font-weight: bold;
	float: left;
	margin-left: 8px;
	padding: 79px 8px;
	width: 33%;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-7%, -426%);
  }
  
  .clickme:hover {
	background-color: rgb(255, 141, 35);
  }

/*****************************************************************************/
.setup-section {
	padding: 50px;
	text-align: center;
	background-color: rgb(202, 216, 0);
	color: rgb(27, 27, 27);
  }
.gallery {
	padding: 50px;
	text-align: center;
	background-color: rgb(0, 0, 0);
  }
.gallery h1 {
	color: rgb(255, 255, 255);
	text-align: center;
}

.gallery h2  {
	color: rgb(255, 255, 255);
	text-align: center;
}
.burning {
	padding: 50px;
	text-align: center;
	background-color: rgb(23 0 1);
  }

.burning h1 {
	text-align: center;
	color: rgb(255, 255, 255);
  }

/* Headings */
h1 {
	color: rgb(0, 0, 0);
	text-align: center;
	font-weight:900;
}

h2 {color: rgb(0, 0, 0);
text-align: center;
padding: 1%;
}

p {
	position: relative;
	text-align: left;
	line-height: 21.4px;
	color: rgb(29, 29, 29);
	font-size: 11pt;
	font-family: Helvetica
}

.footer{
	color: rgb(255, 255, 255);
	background-color: rgb(46, 46, 46);
	text-align: center;
	width: 100%;
	padding: 1%;
}

.footer a {
	color: rgb(165, 211, 0);
}

/*************************************************************************/

/* main wrapper for images on index page */
.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
   }
  
/* Images within the wrapper for the index page */
.images {
	padding: 60px;
	overflow: hidden;
	position: relative;
	justify-content: center;
	align-items: center;
	display: flex;
	cursor: pointer;
	}


/*************************************************************************/

.columnSetup {
	float: left;
	Width: 15%;
	background-color:rgb(248, 248, 248);
	padding-left: 50px;
	padding-top: 100px;
}

.columnSetup2 {
	float: left;
	Width: 85%;
	background-color:rgb(248, 248, 248);
	padding: 20px;
	text-align: left;
}

.rowSetup {
	float: left;
	padding: 10px;
	width: 100%;
	text-align: center;
	Height: 50px;
	color: rgb(65, 65, 65);
	background-color: rgb(235, 235, 235);
}

.rowSetup2  {
	padding: 10px;
	background-color:rgb(248, 248, 248);
	text-align: center;
	overflow: hidden;
}


/**************************************************************************/

.contactform {
	border: 3px rgb(202, 228, 89) solid;
	margin:5px;
	border-radius: 10px;
}

form {
	margin: 25px;
	padding: 10px;
	text-align:center;

}

/* Source: https://css-tricks.com/focusing-on-focus-styles/ */
/* Source: https://www.w3schools.com/cssref/tryit.asp?filename=trycss_dim_width_inputfocus */
/* Set width of input field to 100px. When input field is in focus, make it 250px wide. */

form label {
	font-weight: bold;
	color:rgb(170, 0, 99);
}

input[type=text] {
	width: 250px;
	-webkit-transition: width .35s ease-in-out;
	transition: width .35s ease-in-out;
	margin: 5px;
	border-radius: 5px;
	height: 32px;
}

input[type=text]:focus{
	width: 400px;
	border: rgb(170, 0, 99) 2px solid;
	cursor: pointer;
}

input[type=text]:hover{
	border: rgb(0, 210, 247) 5px solid;
	cursor: text;
}

input[type=submit] {
	margin: 10px;
	font-size: medium;
	font-weight: bold;
	background-color:rgb(170, 0, 99);
	padding: 10px;
	color: whitesmoke;
	border-radius: 5px;
	cursor: pointer;
}

/* focus state when tabbing through input boxes */
input[type=submit]:focus{
	width: 100px;
	-webkit-transition: width .35s ease-in-out;
	transition: width .35s ease-in-out;
	-webkit-transition: height .35s ease-in-out;
	transition: height .35s ease-in-out;
	background-color:rgb(202, 228, 89);
	font-weight: bold;
	font-size: large;

}

input[type=submit]:hover{
	background-color: rgb(152, 194, 0);
	border-radius: 5px;
	font-weight: bold;
	font-size: medium;
}


.video1 {
	border: 2px solid #fff;
	border-radius: 4px;
	padding: 5px;
	position: relative;
	left: 15%;
	margin-top: 5%;
}


.background-burn {
	background: linear-gradient(to left, #9198e5,#74d8ef);
}
